{% liquid
  assign product_handle = product.handle
  if all_products[product_handle].metafields.custom.ingredients_slider_image
    assign productImage =  all_products[product_handle].metafields.custom.ingredients_slider_image
  else
    assign productImage =  all_products[product_handle].featured_image
  endif

  if all_products[product_handle].metafields.custom.badge
    assign productBadge =  all_products[product_handle].metafields.custom.badge
    assign productBadgeAltText =  all_products[product_handle].metafields.custom.badge_alt_text
  endif

  if product.handle contains 'Bundle Item 1'
    assign flexOrder = 1
    assign productAlias = 'Bundle Item 1'
  elsif product.handle contains 'Bundle Item 2'
    assign flexOrder = 2
    assign productAlias = 'Bundle Item 2'
  elsif product.handle contains 'Bundle Item 2'
    assign flexOrder = 3
    assign productAlias = 'Bundle Item 3'
  elsif product.handle contains 'Bundle Item 4'
    assign flexOrder = 4
    assign productAlias = 'Bundle Item 4'
  endif
%}

<div class="lsg-bundle-product-select-wrapper lsg-bundle-product-select-wrapper--{{flexOrder}}" data-lsg-bundle-product-select-id="{{ product.id }}" data-lsg-bundle-product-type="{{ productType }}">
    <div class="lsg-bundle-product-select-img-wrap">
      <img class="lsg-bundle-product-select-img" src="{{ productImage | img_url: '200x200' }}" alt="{{ product.title }}">
    </div>
    {% if productBadge %}
      <img class="lsg-bundle-product-select-badge" src="{{ productBadge | img_url: '60x60' }}" alt="{{ productBadgeAltText }}">
    {% endif %}
    <div class="lsg-bundle-product-select-title">
      {% if productAlias %}
        {{ productAlias }}
      {% else %}
        {{ product.title }}
      {% endif %}
    </div>
    <div class="lsg-bundle-product-select-quantity-wrap no-quantity {% if product.variants[0].inventory_policy == 'deny' and product.variants[0].inventory_management != nil %}product-maxed{% else %}{% endif %}">
        <button class="lsg-bundle-product-select-quantity-increment lsg-bundle-product-select-quantity-minus" disabled>
            <svg aria-labelledby="minusIconTitle" xmlns="http://www.w3.org/2000/svg" width="12" height="4" viewBox="0 0 12 4" fill="none">
                <title id="minusIconTitle">minus</title>
                <path d="M12 2L0 2" stroke="black" stroke-width="3"/>
            </svg>
        </button>
        <input autocomplete="false" type="number" value="0" min="0" max="{% if product.variants[0].inventory_policy == 'deny' and product.variants[0].inventory_management != nil %}{{ product.variants[0].inventory_quantity }}{% else %}999{% endif %}" class="lsg-bundle-product-select-quantity-input lsg-hidden" data-price="{{ product.variants[0].price }}" data-price-formatted="{{ product.variants[0].price | money }}" data-product="{{ product.variants[0].id }}" aria-label="quantity">
        <div class="lsg-bundle-product-select-quantity-input-display">0</div>
        <button class="lsg-bundle-product-select-quantity-increment lsg-bundle-product-select-quantity-plus" disabled>
            <svg aria-labelledby="plusIconTitle" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                <title id="plusIconTitle">plus</title>
                    <path d="M10 5L-1.04308e-07 5" stroke="black" stroke-width="2.5"/>
                <path d="M5 0L5 10" stroke="black" stroke-width="2.5"/>
            </svg>
            <span class="lsg-bundle-product-select-quantity-increment-add-text">ADD</span>
        </button>
    </div>
</div>